/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 20px;
  color: #00529C; }

h2 {
  font-size: 18px;
  color: #00529C;
  margin-bottom: 15px; }

h3 {
  font-size: 17px; }

p {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 27px; }

a {
  text-decoration: underline;
  color: #00529C; }
  a:hover {
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    background: url(../images/bullet.png) no-repeat 0px 11px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 27px; }

ol {
  counter-reset: i;
  position: relative; }
  ol li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 27px; }
    ol li:before {
      content: ' ';
      counter-increment: i;
      content: counter(i);
      position: absolute;
      left: 0;
      font-weight: 900;
      color: #FFC001; }

input[type=text], input[type=email], input[type=number], input[type=password] {
  background-color: #FAFCFF;
  border: 2px solid #006699;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  width: 100%;
  margin-bottom: 5px;
  color: #589BD8; }

input[type=tel] {
  background-color: #FAFCFF;
  border: 2px solid #006699;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  width: 100%;
  margin-bottom: 5px;
  color: #589BD8; }

blockquote {
  background-color: #FAFCFF;
  margin-bottom: 15px;
  border-left: 4px solid #006699;
  padding: 5px 10px 5px 30px;
  font-size: 24px;
  line-height: 35px;
  margin-left: 25px;
  color: #589BD8;
  margin-bottom: 40px;
  font-style: italic; }

textarea {
  border: 1px solid #006699;
  width: 100%;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  resize: none;
  color: #589BD8; }

select {
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 2px solid #006699; }

input[type="submit"] {
  background-color: #FFC001;
  padding: 15px 52px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 22px;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    background-color: #013264; }

button {
  background-color: #fff;
  padding: 15px 52px;
  font-size: 16px;
  font-weight: 900;
  color: #013264;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase; }
  button:hover {
    background-color: #013264;
    color: #fff; }

/* ====================== */
/*         LAYOUT         */
/* ====================== */
/* ======= HEADER ======= */
#lc_header {
  height: 172px;
  border-bottom: #00529C 7px solid;
  padding: 21px 0 0; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header {
    width: 100%;
    height: inherit;
    clear: both;
    overflow: hidden;
    padding-bottom: 20px; } }

  #lc_header .lc_col.lc_col_4 #logo {
    width: 358px;
    height: 121px;
    float: left; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header .lc_col.lc_col_4 #logo {
    width: 358px;
    float: none;
    margin-bottom: 20px; } }

  #lc_header .lc_col.lc_col_4 a {
    width: 358px;
    height: 121px;
    display: block;
    text-indent: -9000px;
    background: url(../images/logo.png) no-repeat;
    background-size: cover; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header .lc_col.lc_col_4 a {
    margin: 0 auto;
    background-size: 300px auto; } }

  #lc_header .mobile_btn {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #589BD8;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1px;
    display: none; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header .mobile_btn {
    display: block; } }

    #lc_header .mobile_btn i {
      font-size: 24px;
      color: #fff; }
  #lc_header nav.lc_col.lc_col_8 {
    padding-top: 58px;
    position: relative;
    z-index: 1; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header nav.lc_col.lc_col_8 {
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: #589BD8;
    display: none; } }

    #lc_header nav.lc_col.lc_col_8 ul {
      float: right; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header nav.lc_col.lc_col_8 ul {
    float: none; } }

      #lc_header nav.lc_col.lc_col_8 ul li {
        float: left;
        padding: 0;
        background: none;
        margin-right: 43px;
        position: relative; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header nav.lc_col.lc_col_8 ul li {
    float: none;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #fff;
    padding: 10px 0; } }

        #lc_header nav.lc_col.lc_col_8 ul li:hover > a {
          color: #589BD8; }
        #lc_header nav.lc_col.lc_col_8 ul li.current-menu-item a {
          color: #589BD8;
          text-transform: capitalize; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header nav.lc_col.lc_col_8 ul li.current-menu-item a {
    color: #fff; } }

        #lc_header nav.lc_col.lc_col_8 ul li:hover > ul {
          display: block; }
        #lc_header nav.lc_col.lc_col_8 ul li a {
          text-decoration: none;
          font-size: 17px;
          font-weight: 700;
          color: #216093;
          display: block; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_header nav.lc_col.lc_col_8 ul li a {
    color: #fff; } }

          #lc_header nav.lc_col.lc_col_8 ul li a:hover {
            color: #589BD8; }
      #lc_header nav.lc_col.lc_col_8 ul ul {
        position: absolute;
        width: 170px;
        display: none; }
        #lc_header nav.lc_col.lc_col_8 ul ul li {
          float: none;
          width: 100%; }
          #lc_header nav.lc_col.lc_col_8 ul ul li:hover > a {
            background: #FFC001; }
          #lc_header nav.lc_col.lc_col_8 ul ul li a {
            background: #589BD8;
            display: block;
            border-bottom: #FFFFFF 1px solid;
            padding: 5px 10px;
            text-align: left;
            color: #FFFFFF !important;
            text-transform: capitalize;
            font-size: 15px !important; }
            #lc_header nav.lc_col.lc_col_8 ul ul li a:hover {
              background: #FFC001 !important; }
        #lc_header nav.lc_col.lc_col_8 ul ul ul {
          left: 170px;
          top: 0;
          background: #589BD8; }

/* Banner */
#lc_content .lc_container #lc_banner {
  margin-bottom: 67px;
  height: 291px;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  /* Tablet */
  /* Mobile */ }
@media (min-width: 768px) and (max-width: 1024px) {
  #lc_content .lc_container #lc_banner {
    height: auto;
    margin-bottom: 25px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #lc_content .lc_container #lc_banner {
    height: auto;
    margin-bottom: 15px; } }

  #lc_content .lc_container #lc_banner .metaslider {
    position: relative; }
    #lc_content .lc_container #lc_banner .metaslider .slides li {
      background: none;
      padding-left: 0; }
      #lc_content .lc_container #lc_banner .metaslider .slides li img {
        /* Mobile */
        /* Mobile */ }
@media (min-width: 768px) and (max-width: 1024px) {
  #lc_content .lc_container #lc_banner .metaslider .slides li img {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #lc_content .lc_container #lc_banner .metaslider .slides li img {
    width: 100%; } }

    #lc_content .lc_container #lc_banner .metaslider .flex-direction-nav {
      position: absolute;
      width: 100%;
      margin-top: -30px;
      top: 50%; }
      #lc_content .lc_container #lc_banner .metaslider .flex-direction-nav .flex-prev {
        width: 34px;
        height: 53px;
        float: left;
        background: none;
        padding-left: 0; }
        #lc_content .lc_container #lc_banner .metaslider .flex-direction-nav .flex-prev a {
          width: 34px;
          height: 53px;
          background: url("../images/lc-banner-left-button.png") no-repeat left top;
          display: block;
          text-indent: -9000px;
          background-size: cover; }
      #lc_content .lc_container #lc_banner .metaslider .flex-direction-nav .flex-next {
        width: 34px;
        height: 53px;
        float: right;
        background: none;
        padding-left: 0; }
        #lc_content .lc_container #lc_banner .metaslider .flex-direction-nav .flex-next a {
          width: 34px;
          height: 53px;
          background: url("../images/lc-banner-right-button.png") no-repeat left top;
          display: block;
          float: right;
          text-indent: -9000px;
          background-size: cover; }

/* ======= FOOTER ======= */
#lc_footer {
  background: #013264;
  line-height: 77px;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 12px; }
  #lc_footer #lc_secondary_nav ul li {
    line-height: 77px;
    padding-left: 0;
    background: none;
    padding-right: 23px;
    float: left; }
    #lc_footer #lc_secondary_nav ul li a {
      text-decoration: none;
      font-size: 14px;
      color: #FFFFFF; }
      #lc_footer #lc_secondary_nav ul li a:hover {
        color: #FFC001; }

/* ======== BASE ======== */
.lc_container {
  width: 1170px;
  margin: 0 auto; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_container {
    width: 100%;
    padding: 0 2%;
    margin: 0 auto; } }

#lc_content {
  overflow: hidden;
  height: auto;
  background: linear-gradient(to bottom, #F1F8FF, #FFFFFF); }

.lc_row .lc_col:first-child {
  margin-left: 0; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_row .lc_col:first-child {
    width: 100%; } }

.lc_col {
  width: 100%;
  float: left;
  margin-left: 30px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col {
    width: 100%; } }

.lc_col_1 {
  width: 70px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_1 {
    width: 100%; } }

.lc_col_2 {
  width: 170px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_2 {
    width: 100%; } }

.lc_col_3 {
  width: 270px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_3 {
    width: 100%; } }

.lc_col_4 {
  width: 370px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_4 {
    width: 100%; } }

.lc_col_5 {
  width: 470px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_5 {
    width: 100%; } }

.lc_col_6 {
  width: 570px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_6 {
    width: 100%; } }

.lc_col_7 {
  width: 670px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_7 {
    width: 100%; } }

.lc_col_8 {
  width: 770px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_8 {
    width: 100%; } }

.lc_col_9 {
  width: 870px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_9 {
    width: 100%; } }

.lc_col_10 {
  width: 970px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_10 {
    width: 100%; } }

.lc_col_11 {
  width: 1070px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_11 {
    width: 100%; } }

.lc_col_12 {
  width: 1170px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_col_12 {
    width: 100%; } }

#lc_message {
  background: #EFF6fd;
  padding: 68px 0; }
  #lc_message .lc_container {
    width: 1001px !important;
    position: relative;
    text-align: center; }
    #lc_message .lc_container h3 {
      margin-bottom: 26px;
      color: #00529C;
      text-transform: uppercase;
      font-size: 20px; }
    #lc_message .lc_container img {
      position: absolute;
      left: 0;
      border-radius: 50%;
      height: 136px;
      width: 136px; }
    #lc_message .lc_container p {
      font-style: italic;
      width: 663px;
      margin: 0 auto;
      font-family: Georgia;
      margin-bottom: 41px;
      line-height: 27px; }
    #lc_message .lc_container .lc_messenger {
      background: url(../images/message-border.png) repeat-x 0 12px;
      color: #00529C;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700; }
      #lc_message .lc_container .lc_messenger span {
        background: #EFF6fd;
        padding: 0 17px 0 20px;
        display: inline-block;
        color: #589BD8;
        font-size: 18px;
        text-transform: none;
        margin-bottom: 10px; }

/* Donate */
#lc_donate {
  background: url(../images/donate-bg.jpg) no-repeat center center #589BD8;
  padding: 50px 0;
  height: 246px;
  /*Donate container*/ }
  #lc_donate .lc_container {
    width: 580px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    position: relative;
    /*Donate container*/
    /*Donate Content*/
    /*Donate Content*/
    /*Join Button*/
    /*Donate Button*/ }
    #lc_donate .lc_container p {
      line-height: 36px;
      margin-bottom: 39px;
      font-family: "Georgia";
      font-style: italic; }
    #lc_donate .lc_container .lc_join_btn {
      background-color: #FFC001;
      padding: 15px 52px;
      font-size: 16px;
      font-weight: 900;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 22px;
      text-transform: uppercase; }
      #lc_donate .lc_container .lc_join_btn:hover {
        background-color: #013264; }
    #lc_donate .lc_container .lc_donate_btn {
      background-color: #fff;
      padding: 15px 52px;
      font-size: 16px;
      font-weight: 900;
      color: #013264;
      text-decoration: none;
      border-radius: 5px;
      text-transform: uppercase; }
      #lc_donate .lc_container .lc_donate_btn:hover {
        background-color: #013264;
        color: #fff; }
    #lc_donate .lc_container img {
      position: absolute;
      top: 6px;
      right: -185px; }

/* ======== projects ======== */
@media (min-width: 320px) and (max-width: 768px) {
  .lc_projects {
    width: 100%; } }

@media (min-width: 769px) and (max-width: 1024px) {
  .lc_projects {
    width: 100%; } }

.lc_projects .lc_col {
  width: 361px;
  height: 127px;
  float: left; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_projects .lc_col {
    float: none;
    margin-left: 0;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    height: auto; } }

  .lc_projects .lc_col:nth-child(1) h3 {
    color: #00529C; }
  .lc_projects .lc_col:nth-child(1) a {
    color: #00529C; }
  .lc_projects .lc_col:nth-child(2) h3 {
    color: #589BD8; }
  .lc_projects .lc_col:nth-child(2) a {
    color: #589BD8; }
  .lc_projects .lc_col:nth-child(3) h3 {
    color: #FFC001; }
  .lc_projects .lc_col:nth-child(3) a {
    color: #FFC001; }
  .lc_projects .lc_col .lc_project_img {
    float: left;
    margin-right: 23px;
    border-radius: 5px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_projects .lc_col .lc_project_img {
    width: 126px;
    height: 126px;
    float: none;
    margin-bottom: 10px; } }

  .lc_projects .lc_col h3 {
    font-size: 19px;
    font-weight: 700; }
  .lc_projects .lc_col p {
    font-size: 15px;
    color: #333333;
    line-height: 25px; }
@media (min-width: 320px) and (max-width: 768px) {
  .lc_projects .lc_col p {
    display: block; } }

  .lc_projects .lc_col a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none; }
    .lc_projects .lc_col a:hover {
      text-decoration: underline; }

#lc_news_events {
  padding-top: 75px;
  clear: both; }
  #lc_news_events #lc_news_header {
    background: url(../images/news-events-border.png) no-repeat 0 14px;
    text-align: center; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_news_events #lc_news_header {
    background: url(../images/news-events-border.png) no-repeat center 14px; } }

    #lc_news_events #lc_news_header h3 {
      color: #00529C;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 62px; }
@media (min-width: 769px) and (max-width: 1024px) {
  #lc_news_events .lc_col.lc_col_6.news, #lc_news_events .lc_col.lc_col_6.events {
    float: none;
    margin: 0 auto; } }

  #lc_news_events .lc_col.lc_col_6.news .lc_news_event, #lc_news_events .lc_col.lc_col_6.events .lc_news_event {
    margin-bottom: 78px;
    overflow: hidden; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_news_events .lc_col.lc_col_6.news .lc_news_event, #lc_news_events .lc_col.lc_col_6.events .lc_news_event {
    text-align: center; } }

    #lc_news_events .lc_col.lc_col_6.news .lc_news_event .lc_news_date, #lc_news_events .lc_col.lc_col_6.events .lc_news_event .lc_news_date {
      width: 68px;
      height: 69px;
      margin-right: 31px;
      background: #006699;
      color: #FFFFFF;
      font-size: 15px;
      text-transform: uppercase;
      float: left;
      text-align: center;
      padding: 8px 0 0 0;
      font-weight: bold;
      line-height: 17px; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_news_events .lc_col.lc_col_6.news .lc_news_event .lc_news_date, #lc_news_events .lc_col.lc_col_6.events .lc_news_event .lc_news_date {
    float: none;
    margin: 0 auto 20px; } }

      #lc_news_events .lc_col.lc_col_6.news .lc_news_event .lc_news_date span, #lc_news_events .lc_col.lc_col_6.events .lc_news_event .lc_news_date span {
        display: block; }
    #lc_news_events .lc_col.lc_col_6.news .lc_news_event div, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div {
      float: left;
      width: 445px;
      border-radius: 5px; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_news_events .lc_col.lc_col_6.news .lc_news_event div, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div {
    width: 100%; } }

      #lc_news_events .lc_col.lc_col_6.news .lc_news_event div h3, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div h3 {
        font-size: 20px;
        color: #00529C;
        margin-bottom: 5px; }
      #lc_news_events .lc_col.lc_col_6.news .lc_news_event div p, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div p {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 1px; }
      #lc_news_events .lc_col.lc_col_6.news .lc_news_event div a, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div a {
        font-size: 15px;
        text-decoration: none;
        color: #00529C;
        margin-bottom: 14px;
        font-weight: bold; }
        #lc_news_events .lc_col.lc_col_6.news .lc_news_event div a:hover, #lc_news_events .lc_col.lc_col_6.events .lc_news_event div a:hover {
          text-decoration: none;
          color: #FFC001; }
@media (min-width: 320px) and (max-width: 768px) {
  #lc_news_events .lc_col.lc_col_6.events {
    margin-left: 0; } }

  #lc_news_events .lc_col.lc_col_6.events .lc_news_date {
    background: #589BD8 !important; }

/*# sourceMappingURL=style.css.map */
