* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 20px;
  color: $endeavour;

}

h2 {
  font-size: 18px;
  color: $endeavour;
  margin-bottom: 15px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 27px;
}

a {
  text-decoration: underline;
  color: $endeavour;
  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    background: url(../images/bullet.png) no-repeat 0px 11px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 27px;
  }

}

ol {
  counter-reset: i;
  position: relative;
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 27px;
    &:before {
      content: ' ';
      counter-increment: i;
      content: counter(i);
      position: absolute;
      left: 0;
      font-weight: 900;
      color: $amber;
    }
  }
}

input[type=text], input[type=email], input[type=number], input[type=password] {
  background-color: #FAFCFF;
  border: 2px solid $bahama-blue;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  width: 100%;
  margin-bottom: 5px;
  color: $havelock-blue;
}

input[type=tel] {
  background-color: #FAFCFF;
  border: 2px solid $bahama-blue;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  width: 100%;
  margin-bottom: 5px;
  color: $havelock-blue;
}

blockquote {
  background-color: #FAFCFF;
  margin-bottom: 15px;
  border-left: 4px solid $bahama-blue;
  padding: 5px 10px 5px 30px;
  font-size: 24px;
  line-height: 35px;
  margin-left: 25px;
  color: $havelock-blue;
  margin-bottom: 40px;
  font-style: italic;
}

textarea {
  border: 1px solid $bahama-blue;
  width: 100%;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  resize: none;
  color: $havelock-blue;
}
select {
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 2px solid $bahama-blue;
}

input[type="submit"]
{
  background-color: $amber;
  padding: 15px 52px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 22px;
  text-transform: uppercase;
  &:hover {
    background-color: $midnight-blue;
  }
}

button {
  background-color: #fff;
  padding: 15px 52px;
  font-size: 16px;
  font-weight: 900;
  color: $midnight-blue;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    background-color: $midnight-blue;
    color: #fff;
  }
}







