// Brand Colors
$endeavour: #00529C;
$havelock-blue: #589BD8;
$matisse: #216093;
$alice-blue: #F1F8FF;
$bay-of-many: #264685;
$amber: #FFC001;
$bahama-blue: #006699;
$silver: #CCCCCC;
$selago: #EFF6fd;
$mine-shaft: #333333;
$midnight-blue: #013264;
$iron: #d0d3d5;
$white: #FFFFFF;

// Default Vars
$container: 1170px;
$col_w: 70px;
$gutter_w: 30px;
$colgut_w: $col_w + $gutter_w;