/* Banner */

#lc_content {

  .lc_container {

    #lc_banner {
      margin-bottom: 67px;
      height: 291px;
      border-radius: 0 0 7px 7px;
      overflow: hidden;
      /* Tablet */
      @include media('>=tablet', '<=desktop') {
        height: auto;
        margin-bottom: 25px;
      }
      /* Mobile */
      @include media('>=phone', '<tablet') {
        height: auto;
        margin-bottom: 15px;
      }

      .metaslider {
        position: relative;

        .slides {
          li {
            background: none;
            padding-left: 0;
            img {
              /* Mobile */
              @include media('>=tablet', '<=desktop') {
                width: 100%;
              }
              /* Mobile */
              @include media('>=phone', '<tablet') {
                width: 100%;
              }
            }
          }
        }

        .flex-direction-nav {
          position: absolute;
          width: 100%;
          margin-top: -30px;
          top: 50%;

          .flex-prev {
            width: 34px;
            height: 53px;
            float: left;
            background: none;
            padding-left: 0;

            a {
              width: 34px;
              height: 53px;
              background: url("../images/lc-banner-left-button.png") no-repeat left top;
              display: block;
              text-indent: -9000px;
              background-size: cover;
            }
          }

          .flex-next {
            width: 34px;
            height: 53px;
            float: right;
            background: none;
            padding-left: 0;

            a {
              width: 34px;
              height: 53px;
              background: url("../images/lc-banner-right-button.png") no-repeat left top;
              display: block;
              float: right;
              text-indent: -9000px;
              background-size: cover;
            }
          }
        }
      }
    }
  }
}