/* ======== BASE ======== */


.lc_container {
    width: $container;
    margin: 0 auto;
    @include media('>=phone', '<=tablet') {
        width: 100%;
        padding: 0 2%;
        margin: 0 auto;
    }
}
#lc_content {
    overflow: hidden;
    height: auto;
    background: linear-gradient(to bottom, $alice-blue, $white);
    
}

.lc_row .lc_col:first-child {
    margin-left: 0;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col {
    width: 100%;
    float: left;
    margin-left: $gutter_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_1 {
    width: $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_2 {
    width: ($colgut_w * 1) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_3 {
    width: ($colgut_w * 2) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_4 {
    width: ($colgut_w * 3) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_5 {
    width: ($colgut_w * 4) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_6 {
    width: ($colgut_w * 5) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_7 {
    width: ($colgut_w * 6) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_8 {
    width: ($colgut_w * 7) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_9 {
    width: ($colgut_w * 8) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_10 {
    width: ($colgut_w * 9) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_11 {
    width: ($colgut_w * 10) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}

.lc_col_12 {
    width: ($colgut_w * 11) + $col_w;
    @include media('>=phone', '<=tablet') {
        width: 100%;
    }
}