/* Donate */
#lc_donate {
	background: url(../images/donate-bg.jpg) no-repeat center center $havelock-blue;
	padding: 50px 0;
	height: 246px;
	/*Donate container*/
	.lc_container {
		width: 580px;
		text-align: center;
		font-size: 22px;
		color: #fff;
		position: relative;
		/*Donate container*/

		/*Donate Content*/
		p{
			line-height: 36px;
			margin-bottom: 39px;
			font-family: 'Georgia' ;
			font-style: italic;
		}
		/*Donate Content*/
		/*Join Button*/
		.lc_join_btn{
			background-color: $amber;
			padding: 15px 52px;
			font-size: 16px;
			font-weight: 900;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 22px;
			text-transform: uppercase;
			&:hover{
				background-color:$midnight-blue;
			}
		}
		/*Donate Button*/
		.lc_donate_btn{
			background-color: #fff;
			padding: 15px 52px;
			font-size: 16px;
			font-weight: 900;
			color: $midnight-blue;
			text-decoration: none;
			border-radius: 5px;
			text-transform: uppercase;
			&:hover{
				background-color:$midnight-blue;
				color: #fff;
			}
		}
		img{
			position: absolute;
			top: 6px;
			right: -185px;
		}
	}
}