/* ======= FOOTER ======= */
#lc_footer {
	background: $midnight-blue;
	line-height: 77px;
	overflow: hidden;
	color: $white;
	font-size: 12px;
	#lc_secondary_nav {
		ul {
			li {
				line-height: 77px;
				padding-left: 0;
				background: none;
				padding-right: 23px;
				float: left;
				a {
					text-decoration: none;
					font-size: 14px;
					color: $white;
					&:hover {
						color: $amber;
					}
				}
			}
		}
	}
}