/* ======= HEADER ======= */
#lc_header {
    height: 172px;
    border-bottom: $endeavour 7px solid;
    padding: 21px 0 0;
    @include media('>=phone', '<=tablet') {
        width: 100%;
        height: inherit;
        clear: both;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .lc_col.lc_col_4 {
        #logo {
            width: 358px;
            height: 121px;
            float: left;
            @include media('>=phone', '<=tablet') {
                width: 358px;
                float: none;
                margin-bottom: 20px;

            }
        }
        a {
            width: 358px;
            height: 121px;
            display: block;
            text-indent: -9000px;
            background: url(../images/logo.png) no-repeat;
            background-size: cover;
            @include media('>=phone', '<=tablet') {
                margin: 0 auto;
                background-size: 300px auto;
            }
        }

    }
    .mobile_btn {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: $havelock-blue;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 1px;
        display: none;
        @include media('>=phone', '<=tablet') {
            display: block;
        }
        i {
            font-size: 24px;
            color: #fff;

        }
    }
    nav.lc_col.lc_col_8 {
        padding-top: 58px;
        position: relative;
        z-index: 1;
        @include media('>=phone', '<=tablet') {
            padding: 0;
            text-align: center;
            margin: 0;
            background-color: $havelock-blue;
            display: none;
        }
        ul {
            float: right;
            @include media('>=phone', '<=tablet') {
                float: none;
            }
            li {
                float: left;
                padding:0;
                background: none;
                margin-right: 43px;
                position: relative;
                @include media('>=phone', '<=tablet') {
                    float: none;
                    width: 100%;
                    margin-right: 0;
                    border-bottom: 1px solid #fff;
                    padding: 10px 0;
                }
                &:hover > a {
                    color: $havelock-blue;
                }
                &.current-menu-item {
                    a {
                        color: $havelock-blue;
                        text-transform: capitalize;
                        @include media('>=phone', '<=tablet') {
                            color: #fff;
                        }
                    }
                }
                &:hover > ul {
                    display: block;
                }
                a {
                    text-decoration: none;
                    font-size: 17px;
                    font-weight: 700;
                    color: $matisse;
                    display: block;
                    @include media('>=phone', '<=tablet') {
                        color: #fff;
                    }
                    &:hover {
                        color: $havelock-blue;
                    }
                }
                //ul {
                //    @include media('>=phone', '<=tablet') {
                //        display: none;
                //    }
                //}
            }
            ul {
                position: absolute;
                width: 170px;
                display: none;
                li {
                    float: none;
                    width: 100%;
                    &:hover > a {
                        background: $amber;
                    }
                    a {
                        background: $havelock-blue;
                        display: block;
                        border-bottom: $white 1px solid;
                        padding: 5px 10px;
                        text-align: left;
                        color: $white !important;
                        text-transform: capitalize;
                        font-size: 15px !important;
                        &:hover {
                            background: $amber !important;
                        }
                    }
                }
                ul {
                    left: 170px;
                    top: 0;
                    background: $havelock-blue;
                }
            }
        }
    }
}


