#lc_message {
    background: $selago;
    padding: 68px 0;
    .lc_container {
        width: 1001px !important;
        position: relative;
        text-align: center;
        h3 {
            margin-bottom: 26px;
            color: $endeavour;
            text-transform: uppercase;
            font-size: 20px;
        }
        img {
            position: absolute;
            left: 0;
            border-radius: 50%;
            height: 136px;
            width: 136px;
        }
        p {
            font-style: italic;
            width: 663px;
            margin: 0 auto;
            font-family: Georgia;
            margin-bottom: 41px;
            line-height: 27px;
        }
        .lc_messenger {
            background: url(../images/message-border.png) repeat-x 0 12px;
            color: $endeavour;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            span {
                background: $selago;
                padding: 0 17px 0 20px;
                display: inline-block;
                color: $havelock-blue;
                font-size: 18px;
                text-transform: none;
                margin-bottom: 10px;
            }
        }
    }
}