#lc_news_events {
	padding-top: 75px;
	clear: both;
	#lc_news_header {
		background: url(../images/news-events-border.png) no-repeat 0 14px;
		text-align: center;
		@include media('>=phone', '<=tablet') {
			background: url(../images/news-events-border.png) no-repeat center 14px;
		}
		h3 {
			color: $endeavour;
			font-size: 20px;
			text-transform: uppercase;
			margin-bottom: 62px;
		}
	}
	.lc_col.lc_col_6.news , .lc_col.lc_col_6.events{
		@include media('>tablet', '<=desktop') {
			float: none;
			margin: 0 auto;
		}
		.lc_news_event {
			margin-bottom: 78px;
			overflow: hidden;
			@include media('>=phone', '<=tablet') {
				text-align: center;
			}
			.lc_news_date {
				width: 68px;
				height: 69px;
				margin-right: 31px;
				background: $bahama-blue;
				color: $white;
				font-size: 15px;
				text-transform: uppercase;
				float: left;
				text-align: center;
				padding: 8px 0 0 0;
				font-weight: bold;
				line-height: 17px;
				@include media('>=phone', '<=tablet') {
					float: none;
					margin: 0 auto 20px;
				}
				span {
					display: block;
				}
			}
			div {
				float: left;
				width: 445px;
				border-radius: 5px;
				@include media('>=phone', '<=tablet') {
					width: 100%;
				}
				h3 {
					font-size: 20px;
					color: $endeavour;
					margin-bottom: 5px;
				}
				p {
					font-size: 15px;
					line-height: 27px;
					margin-bottom: 1px;
				}
				a {
					font-size: 15px;
					text-decoration: none;
					color: $endeavour;
					margin-bottom: 14px;
					font-weight: bold;
					&:hover {
						text-decoration: none;
						color: $amber;
					}
				}
			}
		}
	}
	.lc_col.lc_col_6.events {
		@include media('>=phone', '<=tablet') {
			margin-left: 0;
		}
		.lc_news_date {
			background: $havelock-blue !important;
		}
	}
}