/* ======== projects ======== */
.lc_projects {
   @include media('>=phone', '<=tablet') {
     width: 100%;
 }
 @include media('>tablet', '<=desktop') {
    width: 100%;

 }
 .lc_col {
    width: 361px;
    height: 127px;
    float: left;
    @include media('>=phone', '<=tablet') {
        float: none;
        margin-left: 0;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        height: auto;
    }
    &:nth-child(1){
        h3 {
            color: $endeavour;
        }
        a {
            color: $endeavour;
        }
    }
    &:nth-child(2){
        h3 {
            color: $havelock-blue;
        }
        a {
            color: $havelock-blue;
        }
    }
    &:nth-child(3){
        h3 {
            color: $amber;
        }
        a {
            color: $amber;
        }
    }
    .lc_project_img {
        float: left;
        margin-right: 23px;
        border-radius: 5px;
        @include media('>=phone', '<=tablet') {
            width: 126px;
            height: 126px;
            float: none;
            margin-bottom: 10px;

        }
    }
    h3 {
        font-size: 19px;
        font-weight: 700;

    }
    p {
        font-size: 15px;
        color: $mine-shaft;
        line-height: 25px;
        @include media('>=phone', '<=tablet') {
            display: block;
        }
    }
    a {
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}

}